{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

      <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">

        <div class="carousel-item active">
          <img src="{% static 'assets/img/hero-carousel/hero-carousel-1.jpg' %}" alt="">
          <div class="carousel-container">
            <div>
              <p>HillTop, Nsukka</p>
              <h2>Rain of Mercy Lodge</h2>
              <a href="property-single.html" class="btn-get-started">rent | $ 0.024 ETH</a>
            </div>
          </div>
        </div><!-- End Carousel Item -->

        <div class="carousel-item">
          <img src="{% static 'assets/img/hero-carousel/hero-carousel-2.jpg' %}" alt="">
          <div class="carousel-container">
            <div>
              <p>Odim, Nsukka</p>
              <h2><span></span> God is Good Lodge (GIG)</h2>
              <a href="property-single.html" class="btn-get-started">sale | 0.052 ETH</a>
            </div>
          </div>
        </div><!-- End Carousel Item -->

        <div class="carousel-item">
          <img src="{% static 'assets/img/hero-carousel/hero-carousel-3.jpg' %}" alt="">
          <div class="carousel-container">
            <div>
              <p>Onuiyi, Behind Flat</p>
              <h2>Godness and Mercy Lodge</h2>
              <a href="property-single.html" class="btn-get-started">rent | 0.022 ETH</a>
            </div>
          </div>
        </div><!-- End Carousel Item -->

        <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

        <ol class="carousel-indicators"></ol>

      </div>

    </section><!-- /Hero Section -->

    <!-- Services Section -->
    <section id="services" class="services section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Our Services</h2>
        <p>Discover our innovative decentralized platform for renting houses securely and efficiently, connecting tenants and property owners directly.</p>      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-house-door"></i>
              </div>
              <a href="" class="stretched-link">
                <h3>Direct Tenant-to-Owner Connection</h3>
              </a>
              <p>Eliminate intermediaries by connecting tenants directly with property owners through a decentralized platform.</p>
            </div>
          </div><!-- End Service Item -->
        
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-shield-lock"></i>
              </div>
              <a href="" class="stretched-link">
                <h3>Secure Smart Contract Transactions</h3>
              </a>
              <p>Ensure transparency and security with smart contracts that manage rental agreements and payments automatically.</p>
            </div>
          </div><!-- End Service Item -->
        
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-search"></i>
              </div>
              <a href="" class="stretched-link">
                <h3>Advanced Property Search</h3>
              </a>
              <p>Find your ideal property with our advanced search filters, including location, budget, and amenities.</p>
            </div>
          </div><!-- End Service Item -->
        
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-people"></i>
              </div>
              <a href="" class="stretched-link">
                <h3>Verified Agents and Listings</h3>
              </a>
              <p>Work with trusted agents and explore verified property listings to ensure reliability and authenticity.</p>
            </div>
          </div><!-- End Service Item -->
        
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-calendar-event"></i>
              </div>
              <a href="" class="stretched-link">
                <h3>Schedule Viewings Easily</h3>
              </a>
              <p>Book property viewings directly from the platform at your convenience with just a few clicks.</p>
            </div>
          </div><!-- End Service Item -->
        
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-currency-bitcoin"></i>
              </div>
              <a href="" class="stretched-link">
                <h3>Crypto Payment Integration</h3>
              </a>
              <p>Pay for your rentals seamlessly with integrated cryptocurrency payment options, ensuring fast and secure transactions.</p>
            </div>
          </div><!-- End Service Item -->
        
        </div>
        

      </div>

    </section><!-- /Services Section -->

    <!-- Agents Section -->
    <section id="agents" class="agents section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Our Agents</h2>
        <p>Meet our trusted agents who connect you with the best rental properties in a secure and decentralized way. Each agent is verified to ensure a seamless experience for tenants and property owners.</p>
      </div><!-- End Section Title -->
      
      <div class="container">

        <div class="row gy-5">

          {% for agent in agents|slice:":3" %}
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="{{ forloop.counter|add:1 }}00">
                <div class="member">
                    <div class="pic">
                        <img src="{{ agent.get_profile_picture_url }}" class="img-fluid" alt="{{ agent.full_name }}">
                    </div><br>
                    <div class="member-info">
                        <h4>{{ agent.full_name }}</h4>
                        <span>Real Estate Agent</span>
                        <div class="details">
                            {% if agent.email %}
                            <p><strong>Email:</strong> <a href="mailto:{{ agent.email }}">{{ agent.email }}</a></p>
                            {% endif %}
                            {% if agent.phone_number %}
                            <p><strong>Phone:</strong> <a href="tel:{{ agent.phone_number }}">{{ agent.phone_number }}</a></p>
                            {% endif %}
                        </div>
                        {% comment %} <div class="social">
                            {% if agent.twitter_url %}
                            <a href="{{ agent.twitter_url }}"><i class="bi bi-twitter"></i></a>
                            {% endif %}
                            {% if agent.facebook_url %}
                            <a href="{{ agent.facebook_url }}"><i class="bi bi-facebook"></i></a>
                            {% endif %}
                            {% if agent.instagram_url %}
                            <a href="{{ agent.instagram_url }}"><i class="bi bi-instagram"></i></a>
                            {% endif %}
                            {% if agent.linkedin_url %}
                            <a href="{{ agent.linkedin_url }}"><i class="bi bi-linkedin"></i></a>
                            {% endif %}
                        </div> {% endcomment %}
                    </div>
                </div>
            </div><!-- End Team Member -->
            {% endfor %}


          
          
        </div>

      </div>

    </section><!-- /Agents Section -->

    <!-- Testimonials Section -->
    <section id="testimonials" class="testimonials section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Testimonials</h2>
        <p>What our clients say about us</p>
      </div><!-- End Section Title -->
    
      <div class="container" data-aos="fade-up" data-aos-delay="100">
    
        <div class="swiper init-swiper">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              },
              "breakpoints": {
                "320": {
                  "slidesPerView": 1,
                  "spaceBetween": 40
                },
                "1200": {
                  "slidesPerView": 3,
                  "spaceBetween": 1
                }
              }
            }
          </script>
          <div class="swiper-wrapper">
    
            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  The service was amazing! The team was helpful, professional, and responsive. I couldn’t be happier with my experience.
                </p>
                <div class="profile mt-auto">
                  <img src="{% static 'assets/img/testimonials/testimonials-1.jpg' %}" class="testimonial-img" alt="">
                  <h3>Saul Goodman</h3>
                  <h4>CEO &amp; Founder</h4>
                </div>
              </div>
            </div><!-- End testimonial item -->
    
            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  Excellent quality and attention to detail. I was impressed by how quickly the team worked and the results were beyond my expectations.
                </p>
                <div class="profile mt-auto">
                  <img src="{% static 'assets/img/testimonials/testimonials-2.jpg' %}" class="testimonial-img" alt="">
                  <h3>Sara Wilsson</h3>
                  <h4>Designer</h4>
                </div>
              </div>
            </div><!-- End testimonial item -->
    
            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  Highly recommend! The customer service was outstanding, and they helped me every step of the way. I am a loyal customer for life.
                </p>
                <div class="profile mt-auto">
                  <img src="{% static 'assets/img/testimonials/testimonials-3.jpg' %}" class="testimonial-img" alt="">
                  <h3>Jena Karlis</h3>
                  <h4>Store Owner</h4>
                </div>
              </div>
            </div><!-- End testimonial item -->
    
            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  Fantastic service! They were able to solve all my issues quickly and professionally. I will definitely come back for future needs.
                </p>
                <div class="profile mt-auto">
                  <img src="{% static 'assets/img/testimonials/testimonials-4.jpg' %}" class="testimonial-img" alt="">
                  <h3>Matt Brandon</h3>
                  <h4>Freelancer</h4>
                </div>
              </div>
            </div><!-- End testimonial item -->
    
            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  I’m truly impressed with the level of service I received. The team went above and beyond to make sure I was satisfied.
                </p>
                <div class="profile mt-auto">
                  <img src="{% static 'assets/img/testimonials/testimonials-5.jpg' %}" class="testimonial-img" alt="">
                  <h3>John Larson</h3>
                  <h4>Entrepreneur</h4>
                </div>
              </div>
            </div><!-- End testimonial item -->
    
          </div>
          <div class="swiper-pagination"></div>
        </div>
    
      </div>
    
    </section><!-- /Testimonials Section -->
    
{% endblock %}